html, body {
	height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	word-wrap: break-word;
}

/* style for the info/intro box at the top of the page */
/* (change to some more meaningful name) */
#options{
	font-family: inherit;
	background-color: #d9edf7;
	border: 1px solid #d3d3d3;
	border-radius: 6px;
	box-sizing: border-box;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 30px;
	padding-left: 30px;
	color:#333;
}

.dataFlowImg:hover {
  transform: scale(3); 
}

.controlFlowImg:hover {
  transform: scale(2); 
}

.controlFlowImg {
  margin: 10px;
  transition: transform 0.25s ease;
  cursor: zoom-in;
}

.dataFlowImg {
  margin: 10px;
  transition: transform 0.25s ease;
  cursor: zoom-in;
}



#results table{
	border: 1px solid #d3d3d3;
	border-radius: 6px;
}

#results th, #results td{
	font-size: 14px;
	border: 1px solid #d3d3d3;
	border-radius: 6px;
	padding: 10px;
	background-color: #d9edf7;
}

.button {
	font-family: inherit;
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #5cacee;
	display:inline-block;
	color:#333;
	padding:4px 13px;
	text-decoration:none;
	font-size: 14px;
}

.runButton {
	font-family: inherit;
	background-color:#c2e7ff;
	border-radius:6px;
	border:1px solid #434343;
	display:inline-block;
	color:#333;
	padding:8px 26px;
	text-decoration:none;
	font-size: 14px;
	margin-bottom: 30px;
}

.runButton:hover {
	background-color:#0098f5;
}

.button:hover {
	background-color:#7eceff;
}
